
header {
  height: 100px;
  background: #0d47a1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.btnLogOut{
  justify-content: flex-end;
}

input {
  all: unset;
  background: transparent;
  color: white;
  border-bottom: 1px solid white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
